<div class="container">
  <div class="row">
    <div class="col-lg-">
       <p class="text-center">{{title}}</p>
  <form class="from-group bg-light" [formGroup]="jobWeekForm" (ngSubmit)="saveJob()">
    <p class="text-center">{{title}}</p>
  <input class="form-control" type="text" placeholder="Görev Adı" formControlName="name">
  <br> <br>
  <input class="form-control" type="text" placeholder="Görev Açıklaması" formControlName="description">
  <br> <br>
  <input class="form-control" type="date" placeholder="Görev Açıklaması" formControlName="date">
  <br> <br>
  <button class="btn btn-danger">Kaydet</button>
</form>
    </div>
  </div>
 
</div>